.prod1 {
    font-family: 'Manjari', sans-serif;
    color: black;
    background-color: hsl(355, 71%, 72%);
}

.prod2 {
    font-family: 'Manjari', sans-serif;
    color: black;
    background-color: hsl(215, 79%, 69%);
}

.prod3 {
    font-family: 'Manjari', sans-serif;
    color: black;
    background-color: hsl(270, 1%, 35%);
}

.prod4 {
    font-family: 'Manjari', sans-serif;
    color: black;
    background-color: hsl(308, 65%, 58%);
}
